* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* border: solid red 4px; */
  /* color: #3b3939 !important; */
  text-decoration: none !important;
}

/* Colors */
:root {
  --blue: #5fbfb2;
  --yellow: #ebb000;
  --orange: #f86e00;
  --magenta: #b21491;
  --purple: #744299;
  --pink: #e97286;
  --black: #0d0b2e;
}

/* Common Fonts */

/* @font-face {
  font-family: Argumentum;
  src: url(./assets/css/Argumentum.otf);
} */

/* NAV */
header {
  background-color: var(--blue);
}
.nav-bar {
  display: flex;
  justify-content: space-evenly;
  font-size: 3.5vh;
  font-family: Argumentum;
  padding-top: 2vh;
}

.nav-bar a {
  color: #0d0b2e !important;
}

.nav-bar a:hover {
  color: var(--purple) !important;
}

.nav-bar span {
  height: 45px;
  width: 45px;
  background-color: #0d0b2e;
  border-radius: 50%;
}

/* HOME */
.home-main {
  background-color: var(--blue);
  display: flex;
  align-items: center;
}

.home-pic {
  margin-top: 11.9vh;
  height: 80vh;
  width: auto;
}

.Erica-Babb h1 {
  font-size: 20vh !important;
  letter-spacing: 15px;
  font-family: Argumentum Ultra;
  color: var(--yellow);
}

.UX-Design h1 {
  font-size: 20vh !important;
  font-family: Argumentum Ultra;
  color: var(--orange);
  letter-spacing: 15px;
}

.UX-Design span {
  font-family: Argumentum Thin;
  color: var(--magenta);
  letter-spacing: 38px;
}

/* WORK */

.work-background {
  background-color: var(--orange);
}

.works {
  display: flex;
  margin-left: 4.5vw;
}

.pg-title {
  font-family: Argumentum Ultra;
  font-size: 20vh;
  letter-spacing: 15px;
  margin-bottom: -11vh;
  z-index: 1;
  position: relative;
  margin-left: 3vw;
}

.blue {
  color: var(--blue);
}

.work-margin {
  margin-bottom: 5vh;
  margin-right: 2vw;
}

.work-margin-btm {
  margin-bottom: 5vh;
}

.work-right-btm {
  margin-right: 2vw;
}

.container {
  position: relative;
  text-align: center;
  /* color: white; */
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: Argumentum;
  font-size: 10vh;
  color: var(--blue);
}

/* ABOUT */
.about-background {
  background-color: var(--pink);
}
.purple {
  color: var(--purple);
}

.abt-img-margin {
  margin-right: 4vw;
}

.resume-circle {
  position: absolute;
  z-index: 2;
  margin-top: -15vh;
  margin-left: 18vw;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  background-color: var(--purple);
}

.abt-p {
  margin: 5vh 10vw 0vh 10vw;
  font-family: Argumentum Light;
  font-size: 7vh;
  color: var(--black);
  margin-bottom: 12vh;
}

/* CONTACT */
.contact-background {
  background-color: var(--yellow);
}

.magenta {
  color: var(--magenta);
}
.form-center {
  /* display: flex !important; */
  /* justify-content: flex-start !important; */
  margin-left: 10vw;
  padding-bottom: 5vh;
}
.form-label {
  font-family: Argumentum;
  font-size: 20px;
  color: var(--black);
}
.form-control {
  width: 400px !important;
  font-family: Argumentum Light;
  border-width: 2px !important;
  border-color: var(--blue) !important;
}
.message-control {
  height: 100px;
}
.error-text {
  font-size: 20px;
  font-family: Argumentum Light;
}

.my-btn {
  font-family: Argumentum Light;
  font-size: 20px !important;
  color: var(--magenta);
  background-color: var(--magenta) !important;
  margin-left: 11vw;
}

.my-btn:hover {
  opacity: 0.75;
}
